html {
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
	list-style: none;
	text-decoration: none;
}
body{
	font-family: 'Comfortaa', 'Arial', cursive;
}
.container{
	width: 1150px;
	padding: 0 15px;
	margin: 0 auto;
}
.header{
	padding-top: 20px;
	text-align: center;
	margin-bottom: 60px;
}
.header__title{
	font-size: 60px;
	font-family: 'Indie Flower', 'Arial', cursive;
	margin: 0;
}
.header__text{
	margin: 0;
}
.nav_list{
	display: flex;
	justify-content: space-around;
	padding: 0;
	border-top: 1px solid #8888;
	border-bottom: 1px solid #8888; 
}
.nav__item{
	padding: 20px;
}
.nav__item:hover{
	background-color: #d9ddde;
}
.nav__link{
	text-transform: uppercase;
	text-decoration: none;
	color: black;
}
.meals__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
}
.meals__item{
	width: 300px;
}
.meals__item h2, h3{
	text-transform: uppercase;
}
.meals__item h3 a{
	color: #000;
}
.meals__item-img img{
	width: 300px;
	height: 178px;
}
.meals{
	background-color: orange;
	color: white;
}
.drinks{
	background-color: lightblue;
	color: white;
}
.deserts{
	background-color: tomato;
	color: white;
}
.salads{
	background-color: lightgreen;
	color: white;
}
.retsepts_box{
	width: 214px;
	border: 2px solid red;
	padding: 15px;
	margin: 50px auto;
	text-align: center;
}
.retsepts__link{
	text-transform: uppercase;
	font-weight: bold;
	color: red;
}
.retsepts_box:hover .retsepts__link{
	color: white;
}
.retsepts_box:hover{
	background-color: red;
}
.toggle{
	width: 100%;
	padding: 10px 20px;
	text-align: right;
	color: #000;
	font-size: 30px;
	display: none;
}
@media (max-width: 1024px){
	.container{
		width: 960px;
	}
}
@media (max-width: 768px){
	.container{
		width: 720px;
	}
	.header{
		margin-bottom: 20px;
	}
	.nav_list{
		display: none;
	}
	.toggle{
		display: block;
	}
	.active{
		display: block;
	}
	.nav__item {
		padding: 15px;
	}
	.meals__item h3{
		font-size: 16px;
	}
	.meals__item p{
		font-size: 14px;
	}
	.meals__list{
		justify-content: space-around;
	}
}